<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Object Detection</title>
</head>
<body>
    <h1>Object detection</h1>
    <button class="search-button" onclick="navigateTosearch()">Search</button>
    <form action="/upload/" method="post" enctype="multipart/form-data" style="padding-top: 20px">
        <input type="file" name="file" >
        <button id="submit">Upload</button>
    </form>
    
    <div id="display_image"></div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html> 